.eventsHeader {
    background-color: white;

    padding: 1rem;

    border: 1px solid #e2e8f0;
    border-radius: 16px;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    gap: 0.5rem;
}

/* For Mobile */
@media (max-width: 768px) {
    .eventsHeader {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
    }
}

.titleAndQuickActionButtonsContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.quickActionButtonsContainer {
    display: flex;
    gap: 0.5rem;
}

.statsOverview {
    justify-self: end;

    display: flex;
    gap: 0.5rem;
}