.profilePage {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.profileInfo {

}

.avatarContainer {

}

.infoList {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
}

.infoList dt {
    font-weight: bold;
}

.infoList dd {
    margin: 0;
}