.personPage {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.personPageHeader {
    padding: 0.5rem;

    background-color: white;

    display: grid;
    grid-template-columns: 125px 1fr 125px;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.personPageHeader > a {
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.personPageHeader > h3 {
    justify-self: center;
}

.actionButtonsContainer {
    justify-self: end;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.editButton {
    padding: 0.25rem;

    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.editButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.personForm {
    padding: 1rem;

    width: 100%;

    background-color: white;

    border: none;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.navHeader {
    display: flex;
    justify-content: space-between;
}

.label {
    width: 100%;
    font-weight: bold;
}

.input {
    padding: 0.5rem;

    width: 100%;
}

.form input, .form button {
    width: 100%;
    padding: 0.5rem;
}

.button {
    margin-top: 1rem; /* To give extra space above, better visually */
    padding: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.personDataContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quickStats {
    /* Needs mobile & desktop versions */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (min-width: 768px) {
    .quickStats {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.5rem;
    }
}

.statCard {
    padding: 1rem;

    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;

    border-radius: 7.5px;

    display: grid;
    place-items: center;
}

.statNumber {
    font-size: 1.2rem;
    font-weight: bold;
}

.statLabel {
    font-size: 1rem;
}

.sectionContainer {
    border-radius: 7.5px;

    background-color: white;
}

.sectionHeader {
    padding: 1rem;

    background-color: #007bff;
    color: white;

    border-top-right-radius: 7.5px;
    border-top-left-radius: 7.5px;

    font-size: 1.1rem;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionData {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.notes {
    padding: 1rem;
}

.giftItems {
    grid-column-end: 3;
}

.eventContainer {
    display: flex;
    gap: 0.5rem;
}

/* Overwritting Custom CSS For QuickAddButton Component */
.personPageQuickAddButton {
    height: auto;
    width: auto;
}