.topBar {
    margin: 0;
    padding: 1rem;

    height: 100%;
    width: 100%;

    background-color: white;

    border-bottom: 1px solid black;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-items: center;
    gap: 0.5rem;
}

.topNav, .middleContainer {
    width: 100%;
}

.navList {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    list-style-type: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center
}

.navLink, .logo a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
}

.navLink {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navLink:hover, .logo a:hover {
    transform: translateY(-2px);
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

