.peoplePage {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.peoplePage h1 {
    align-self: center;
}

.addPersonButton {
    margin: 0;
    padding: 0.75rem;

    width: 100%;

    background-color: #007bff;

    border: none;
    border-radius: 7.5px;

    font-size: 1rem;
    color: white;

    cursor: pointer;
}

.addPersonButton:hover {
    background-color: #0056b3;
}

.peopleGrid {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.personCard {
    /* Overwriting default <Link>/<a> styling */
    text-decoration: none;
    color: inherit;

    margin: 0;
    padding: 1rem;

    background: white;

    border: 1px solid black;
    border-radius: 7.5px;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.personCard:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.avatar {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: grey;

    font-weight: bold;
    color: white;
}

.personInfo {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.personName {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}



.noBirthdayText {
    font-style: italic;
    color: #e9ecef;
}