:root {
    /* colors, styles, sizing */
}

.landingPage {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.navBar {
    padding: 1rem;
    background-color: white;

    position: sticky;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* Hero Section */
.heroSection {
    min-height: 100dvh;
    background-color: #f8fafc;
}

.tempLandingPageWelcomeContainer {
    margin: 0;
    padding: 1rem;

    border: 1px solid black;
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
}

.dashboardLink {
    position: fixed;
    top: 50px;
    right: 50px;
}