:root {
    --border-color: #e9eaf3;
}

.layoutContainer {
    margin: 0;
    padding: 0;

    height: 100dvh;
    width: 100dvw;

    background-color: #e3e5e7; /* Off-White For "Background" of entire site. Use "white" in areas you want to "pop" */

    display: grid;
    grid-template-rows: 75px 1fr 75px;
}

.mainContent {
    margin: 0;
    padding: 1rem; /* Possibly a smaller REM for mobile screens */

    height: 100%;
    width: 100%;

    overflow-y: auto;
}