.giftItemsTable {
    padding: 0.5rem;

    width: 100%;

    background-color: white;

    border-collapse: separate;
}

.tableHead {
    background-color: lightgray;
    text-align: left;
}

.tableHeadRow {
    padding: 0.5rem;
}

.tableRow:hover {
    background-color: #f8f9fa; /* Nice hover effect */
}

.tableCell {
    padding: 0.5rem;

    border-bottom: 1px solid lightgray;
}

/* Name & URL/Link Icon: Left & Right Edges. Can't use display: flex; justify-content: space-between; */
.nameAndURL {
    position: relative;
}

.linkIcon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

/* "Status" Text/Icon */
.giftItemDetailIdea, .giftItemDetailPurchased {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
}
.giftItemDetailIdea {
    padding: 0.25rem 0.75rem;

    height: auto;
    width: 125px;

    background-color: #fff3e0;
    color: #e65100;

    border: none;
    border-radius: 9999px;
}

.giftItemDetailPurchased {
    padding: 0.25rem 0.75rem;

    height: auto;
    width: 125px;

    background-color: #e8f5e9;
    color: #2e7d32;;

    border: none;
    border-radius: 9999px;
}